nav {
  display: flex;
  justify-content: center;
   h2 {
    font-size: 30px;
   }
}

.container {
  gap: 20px;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
}
.container div {
  border: 2px solid black;
  padding: 25px;
  border-radius: 15px;
 
 
  
}
.container img {
  border-radius: 25px;
  width: 50%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  background-color: beige;
  color: black;
  font-size: 30px;
  text-decoration: none;
}


@media screen and (width<1150px) {
  .container {
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (width <650px){
  .container {
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
  }
}
